<?php
// Database to connect to
$dsn = 'mysql://user:password@localhost/usda';

// Path to SR21 data
$path = dirname(__FILE__);

set_include_path(get_include_path() . PATH_SEPARATOR . dirname(dirname(__FILE__)));
